/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
.navbar{
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.navbar img{
    margin: 2%;
    padding: 3px 2px;
    display: flex;
    flex-direction: row;
}
.container .navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start:
}
.container .navbar ul{
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 3px 2px;
}

.home{
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.about{
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.products{
    display: flex;
    flex-direction: row;
    padding: 5%;
}


.blog{
    display: flex;
    flex-direction: row;
    padding: 5%;
}


.contact{
    display: flex;
    flex-direction: row;
    padding: 5%;
}


.navbar li a{
    text-decoration: none;
    color: black;
}

.mainimg{
    margin: 3% 0%;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

#about h3{
    display: flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;


}

#about{
    margin: 2% 0%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-bottom: dotted black;
}

#main{
    display: flex;
    flex-wrap: wrap;


}

#a{
    padding: 1%;
    margin:1%;
    width: 45%;
    display: flex;
    border-bottom: dotted black;
    flex-direction: column;
}

#b{
    padding: 1%;
    margin:1%;
    width: 45%;
    display: flex;
    border-bottom: dotted black;
    flex-direction: column;
}

#c{
    padding: 1% ;
    margin: 1%;
    width: 45%;
    display: flex;
    border-bottom: dotted black;
    flex-direction: column;
}

#d{
    margin: 1% ;
    padding: 1%;
    width: 45%;
    display: flex;
    border-bottom: dotted black;
    flex-direction: column;
}

#a button{
    background-color: white;
    border-radius: 8px;
    padding: 3%;
    width: 50%;
}

#b button{
    background-color: white;
    border-radius: 8px;
    padding: 3%;
    width: 50%;
}

#c button{
    background-color: white;
    border-radius: 8px;
    padding: 3%;
    width: 50%;
}

#d button{
    background-color: white;
    border-radius: 8px;
    padding: 3%;
    width: 50%;
}

#end{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3% 0%;
}

footer{
    background:black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

footer nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}


.navbar{
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center:
}
footer nav ul{
    color: white;
    display: flex;
    flex-direction: row;
    margin: 4%;
    padding: 0 -5px;
}


footer li {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    margin: 0%;
}

footer li a{
    text-decoration: none;
    color: white;
}

footer li a:active{
    text-decoration: none;
    color: white;
}